# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Untitled_DeckRPG.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jefferey Schlueter\Documents\Programming\Untitled_DeckRPG\.idea\.idea.Untitled_DeckRPG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
